@import url(https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700);

* {
  background-color: #b9a883;
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}

.Main {
    text-align: center;
}
  
.route-wrapper {
    position: relative;
    
}
  
.route-wrapper > div {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

button {
 background-color: #aa863a;
 font-size: 85%;
 border: none;
 border-radius: 10px;
 margin-left: auto;
margin-right: auto;
 height: 35px;
}



