@import url(https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700);

* {
 background-color: black;
 font-family: Oxygen, Helvetica, Arial, sans-serif;
}

button {
 background-color: #aa863a;
 font-size: 85%;
 border: none;
 border-radius: 10px;
 margin-left: auto;
margin-right: auto;
 width: 25%;
 height: 35px;
}

.App-logo {
 align-self: center;
}



