
.Buttons {
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    align-self:center;    
    transition: 0.3s;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        padding-top: 15px;
        margin-top: 130px;
        padding-bottom: 20px;
        border-width: 8px;
        border-radius: 5px;
        border-color: black;
        margin-bottom: 10px;
    }
    
    .Buttons * {
        background-color: black;
    }

    #SignUpButton {
        background-color: #c29c4b;
    }

    #LoginButton {
        background-color: #c29c4b;
    }