.grid-container-comm {
  display: grid;
} 

.onlyCommunity {
  padding: 110px;
}

h2 {
  color: black;
}

ul#commlist > li {
  border-radius: 20px;
}
.ent {
  padding: 0.2rem;
  background-color: #aa863a; 
  text-decoration: none;
}


.name-ent {
  grid-column: 1;
  grid-row: 1;
  font-size: large;
  text-decoration: none;
  background-color: #aa863a;
 
}

.description {
  grid-column: 1;
  grid-row: 2;
  font-size: small;
  text-decoration: none;
 }

