#threadTitle {
  font-size: 2rem;
  height: 3rem;
  color: black;
}

.Container {
  text-align: center;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text) 
}

#threadBody {
  color: black;
  font-size: 1rem;
  width: 20em;
  height: 8rem;
  display: inline-block;
}

#threadBody:valid {
  background-color: white;
}

h1 {
  color: #cc9900,
}

textarea:invalid {
  border-color: #900;
  background-color: #FDD;
}

input:valid {
  border-color: white;
  background-color:white;
}
