.bio * {
  background-color: white;
}

.courses * {
  background-color: white;
}

.skills * {
  background-color: rgb(230, 82, 82);
}

.graduation * {
  background-color: white;
}

#Bio {
  height: 100px;
  width: 200px;
}

#success {
  color: green;
}

