.Home {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.route-wrapper {
  position: relative;
  
}

.route-wrapper > div {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}