
h4, h1 {
  color:#8f7526;
}


.thread-title > h3 {
  color: black;
}


#profile-bio {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 50px;
}

.profile * {
  background-color: #f0eceb;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: auto;
}

.send > Button{
  background-color: #c29c4b;
}

.li-item1 {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 10rem;
  background-color: #c29c4b;
  margin-left: auto;
  margin-right: auto;
}

.li-item2 {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  background-color: #c29c4b;
  margin-left: auto;
  margin-right: auto;
}

.card {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#profile-courses {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#profile-skills {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#label {
  color:  #cc9900;
}

#info {
  display: inline;
}

p {
  color: black;
}

