.result {
  border-bottom: 6px solid rgb(192, 0, 218);
  background-color: cornflowerblue;
  border-radius: 5px;
  display: grid;
  min-height: 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}

.entry {
  padding: 1.5rem;
  background-color: cornflowerblue;
}

.pic {
  grid-column: 1;
  grid-row: 1;
}

.first {
  grid-column: 2;
  grid-row: 1;
  background-color: cornflowerblue;
}

.last {
  grid-column: 3;
  grid-row: 1;
}

.major {
  grid-column: 2 / 3;
  grid-row: 2;
}