.scout {
  display: grid;
  min-height: 50%;
  grid-template-rows: 190px 0.3fr 1fr 1fr 1fr 1fr;  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.navs {
  grid-column: 1 / 4;
  grid-row: 0;
}



.form {
  grid-column: 2;
  grid-row: 2; 
  padding: 30px;
  margin: 0px;
}

.results {
  grid-column: 2;
  grid-row: 3 / 9;
}

button {
  color:black;
}

.scoutbutton {
  width: 20%;
}

.ScoutForm {
  width: 20.5%;
  height: 1.2rem;
}

.listelem {
  background-color: #f0eceb;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
  border-width: 1px;
  border-color: #d1d1d1;
}


.result {
  list-style-type: none;
  border: 2px solid rgb(139, 130, 0);
  background-color: lightsteelblue;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 30px;
  display: grid;
  min-height: 50%;
  max-height: 100px;
  grid-template-rows: 1fr 0.2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}

.link {
  text-decoration: none;
}

.type {
  color: white;
  display: inline;
}

.entry {
  padding: 0.2rem;
  background-color: #f0eceb;  
  border-radius: 30px;
}

.pic {
  grid-column: 3;
  grid-row: 2;
}

.first {
  grid-column: 1;
  grid-row: 1;
  font-size: large;  
}

.last {
  grid-column: 3;
  grid-row: 1;
}

.dropdown {
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
}

option {
  color: white;
  background-color: grey;
}

.advancedButton {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.grad_year {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
  font-size: small;
}

.major_adv {
  margin-bottom: 100px;
  grid-column: 1;
  grid-row: 2;
  font-size: small;
}

.major {
  grid-column: 1;
  grid-row: 2;
  font-size: small;
}

.grad {
  grid-column: 2 / 4;
  grid-row: 2;
  font-size: small;
  background-color: white;
}

.advanced {
  border-style: solid;
  border-radius: 3%;
  border-width: 1px;
  border-color: white;
  background-color: #f0eceb;
  grid-column: 3;
  grid-row: 2;
  display: grid;
  margin-right: 50px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  width:80%;
  height: 50%;
}

.advanced * {
  background-color: #f0eceb;
}

.noResults {
  grid-column: 2;
  grid-row: 3;
}

.advheader {
  color: #8d743d;
}
