.scout {
  display: grid;
  min-height: 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.navs {
  grid-column: 1 / 4;
  grid-row: 1;
}

.form {
  grid-column: 2;
  grid-row: 2;
  padding: 1.5rem;
}

.results {
  grid-column: 2;
  grid-row: 3 / 5;
}

.advanced {
  grid-column: 3;
  grid-row: 4;
}

button {
  color:black;
}

.scoutbutton {
  width: 20%;
}

.ScoutForm {
  width: 20%;
}

button {
  color:black;
}
 
.scoutbutton {
  width: 20%;
}

.ScoutForm {
  width: 20%;
}