.SignUp {
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding-bottom: 20px;
    border-width: 8px;
    padding-top: 15px;
    margin-top: 80px;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;
}

.grid-container-signup {
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-auto-columns: auto auto auto auto auto auto; 
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

textarea:invalid {
  border-color: #900;
  background-color: #FDD;
}

select:invalid{
  border-color: #900;
  background-color: #FDD;
}

.error {
  width  : 100%;
  padding: 0;
 background-color: white;
  font-size: 80%;
  color: white;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
  background-color: white;
  border-width: 2px;
}

.wrapper {
  padding: 10px;
}
.SignUp * {
  background-color: black;
}
.FormInput {
  background-color: white;
  width: 50%;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
}
.submitbutton {
  background-color:#c29c4b;
}

#repeatpasserror {
  color:red;
}
