.Form {
  color: #cc9900;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: black;
  padding-bottom: 20px;
  border-width: 8px;
  padding-top: 15px;
  border-radius: 5px;
  border-color: black;
  margin-bottom: 10px;
}

.Form * {
  background-color: black;
}

.FormInput {
  background-color: white;
}

.UpdatePassword {
  padding-top: 15px;
}

#submitbutton {
  background-color: #c29c4b;
}

#passwordedit {
  color: #c29c4b;
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

select:invalid{
  border-color: #900;
  background-color: #FDD;
}